@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-sans;
    @apply text-[44px]/[48px];
    @apply font-[700];
  }
  h2 {
    @apply font-sans;
    @apply text-[34px]/[38px];
    @apply font-[700];
  }
  h3 {
    @apply font-sans;
    @apply text-[26px]/[30px];
    @apply font-[700];
  }
  p {
    @apply font-sans;
    @apply text-[18px]/[22px];
    @apply font-[300];
  }
  button {
    @apply h-14 w-48 rounded font-bold;
    @apply bg-blue-200 text-grey-800;
    @apply font-sans;
    @apply text-[18px]/[22px];
    @apply font-[700];
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
